{%extends 'template.html'%}
{%block styles%}
.input-field {
    width: calc(100% - 60px);
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
{%endblock%}
{%block content%}
    <form action = '/login' method="post">
        <input type="text" name="login" placeholder="Введите логин" class="input-field">
        <input type="text" name="email" placeholder="Введите e-mail" class="input-field">
        <input type="submit" value="Войти" class="btn">
    </form>
{%endblock%}